name: Build

on:
  push:
    branches: [ main]
    tags: [ "v*.*.*" ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Ruby
        uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
        with:
          ruby-version: '3.2'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          cache-version: 0 # Increment this number if you need to re-download cached gems
      - name: Build
        run: gem build creek-jekyll-theme.gemspec
      - name: Release
        if: (startsWith(github.ref, 'refs/tags/v'))
        run: gem push creek-jekyll-theme-*.gem
        env:
          GEM_HOST_API_KEY: ${{ secrets.RUBY_GEMS_PUSH_TOKEN }}

